
// pallete
main-background = #bcbcbc //Background
other-background = #ffffff // Primary
main-content-background = #ebebeb // Main page content background
main-aside-background = #ffffff // Main page aside background
inner-content-background = #ffffff // Inner pages content background
header-background = #ffffff // Header background
elements-background = #448aff // Buttons / Footer / Search / etc. background
warn-background =  #dc4d4d // Warn / Danger / Canceled events
sold-background = #7c7c7c // Tickets not available btn background
border = #7c7c7c

primary-text = #7c7c7c
primary-text-lighter = rgba(167, 167, 167 0.9)
secondary-text-color = #ffffff


divider-color = #ebebeb
input-focus = #F57C00
overlay = rgba(0,0,0,0.6);
